{% extends "base.html" %}

{% block title %}FABLOPICASSO{% endblock %}
{% block content %}
    <h2>About</h2>
    <p>
        Bu yazılım MIT lisansı altındadır,2018 yılında Mustafa Akgül Özgür Yazılım Yaz Kampı'nda,
        tamamen özgür bir ortamda, özgür yazılımlar kullanılarak
        özgür bireyler tarafından geliştirilmiştir. <br>#OYK2018
    </p>
        <h2>Mustafa Akgül Free Software Summer Camp</h2>
    <p> The camp at first named "Lınux Summer Camp" and starts at 2010 with 1 class,
        35 students and lasts 9 days. Today at 2018; it is a "Free Software Camp" with
        20+ classes, 15+ different subjects, 500+ participants, 70+ instructors and
        lasts 15 days.
        It was named "Mustafa Akgül Free Software Summer Camp." at
        the honor of Mustafa Akgül after his death.The participants don't need to pay any money except travel,
        food and accomodation expenses. Quotas are limited.<a href="https://kamp.linux.org.tr/" target="_blank">Mustafa Akgül Özgür Yazılım Yaz Kampı</a>
    </p>
    <h2>Mustafa Akgül</h2>
      <p>Mustafa Akgül was a Turkish computer scientist who was the key figure of the
        acceptance of the Internet in Turkey. He went to the University of Waterloo,
        Canada and got his PhD in Combinatorics and Optimisation. He started with
        the motto of "Internet is life".
      </p>
      <p>He gave start to a free software community at 1990's and worked
        for extending it until his death at 2017. At 1993 he opened linux@bilkent.edu.tr
        mail address to start a communication channel between free software developers
        and at 1995 he brought together these people at 1. Turkey Internet Conference.
        At this conference; people come together and started a community named Turkey
        Linux Users Community and made their first speech about free software again
        at that organization.It was Mustafa Akgül's dream to organize a Linux Summer Camp and he made it
        real at 2010. And from now on the camp's name will be Mustafa Akgül Free Software
        Summer Camp.<a href="http://blog.akgul.web.tr/" target="_blank">Mustafa Akgül Blog</a>
    </p>
    <p>
        Fable Writer açık kaynak bir proje olup topluluk tarafından geliştirilmektedir. Eğer siz de bir şeyler yapmak isterseniz aşağıdaki github adresini inceleyebilirsiniz.<br>
        <a href="https://github.com/lyk2018-python/fabl-writer" style="font-size:20px">Github</a>
    </p>
{% endblock %}
