<!DOCTYPE html>
<html>
{% load static %}
{% load i18n %}
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Default Title {% endblock %}</title>
    {% block script %}{% endblock %}
  </head>
  <body>
    <nav>

      <img src="{% static "images/logo.png" %}" height="50" width="100" style="float:left"/>
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" style="float:left margin:10px">Hello {{ user.username }} !</a>
      {% endif %}
        <div class="menu">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        <a href="{% url 'about' %}">{% trans 'About' %}</a>
        {% if user.is_authenticated %}
          <a href="{% url 'logout'%}">{% trans 'Logout' %}</a>
          <a href="{% url 'create'%}">{% trans 'Create' %}</a>
        {% else %}
          <a href="{% url 'signup'%}">{% trans 'Signup' %}</a>
          <a href="{% url 'login'%}">{% trans 'Login' %}</a>
        {% endif %}
        </div>
    </nav>
    {% block content %}
      #Contents goes in
    {% endblock %}
  </body>
</html>
