<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ fabl.baslik }}</title>
  </head>
  <body>
    <a href="{% url 'home' %}">HOME</a><br/><br/>
    {% for i in 'BGSDC' %}
      {% for sahne in sahnes %}
        {% if sahne.anahtar == i %}
          <p>{{ sahne.deger }}</p>
        {% endif %}
      {% endfor %}
    {% endfor %}
    User: {{ fabl.user }}<br/>
    Update : {{ fabl.update_date.date }}<br/>
    Create : {{ fabl.create_date.date }}
  </body>
</html>
